.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 50px;
  overflow: auto;
}

.footer {
  position: absolute;
  height: 50px;
  width: 100%;
  background: rgb(254, 254, 255);
  bottom: 0;
}
